<div>
    @Html.Sitecore().Field("Name")
</div>
<div>
    @Html.Sitecore().Field("DOB")
</div>
<div>
    @Html.Sitecore().Field("EmailID")
</div>
<div>
    @Html.Sitecore().Field("PhoneNumber")
</div>



