@model Cts.Project.Cts1.Models.LeadershipProfile
<div>
    @Model.LeaderName <a href="@Model.DetailPageUrl">View Profile</a>
</div>
<div>
    @Model.ProfileBrief
</div>
<div>
    @Model.LeaderImage
</div>